{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | Renew Buddy {{ employee.name }}{% endblock %}
{% block headertitle %}Renew Buddy {{ employee.name }}{% endblock headertitle %}
{% block container %}
<a href="{{ path('ui_employee_credit', {'hash': employee.hash, 'period': 'month'}) }}">Add a month</a>
<a href="{{ path('ui_employee_credit', {'hash': employee.hash, 'period': 'year'}) }}">Add a year</a>
{% endblock container %}