{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block body %}
<ul>
	{% for company in user.companies %}
	<li><a href="{{ path('ui_company', {'hash': company.hash })}}">{{ company.name }}</a></li>
	{% endfor %}
	<li><a href="{{ path('ui_new_company') }}">Create a company</a></li>
</ul>
{% endblock body %}
