<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}48{% endblock %}</title>
        {% block stylesheets %}
		<meta name="robots" content="noindex, nofollow">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" charset="utf-8" />
		<link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
		{% endblock %}
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDQSRQ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MDQSRQ');</script>
		<!-- End Google Tag Manager -->
    </head>
    <body>
        {% block body %}
		<header>
			{% block header %}{% endblock %}
		</header>
		<div class="container">
			{% block container %}{% endblock %}
		</div>
		<footer>
			{% block footer %}{% endblock %}
		</footer>
		{% endblock %}
		{% block modal %}<div id="modal" class="modal fade"></div>{% endblock modal %}
        {% block javascripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="{{ asset('js/autocomplete.min.js') }}"></script>
		<script>
		$('.l-mod').click(function(){
			$.ajax({
				'url': $(this).data('url'),
				'type': 'GET',
				'success': function(data){
					$('#modal').html(data);
					$('#modal').modal();
				}
			});
			return false;
		});
		$('.tooltip-flag').tooltip();
		</script>
		{% endblock %}
    </body>
</html>
