<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Your phone credentials</h4>
		</div>
		<div class="modal-body">
			<dl class="dl-horizontal">
				<dt>Name</dt>
				<dd>{{ phone.phonename }}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Hostname / Server</dt>
				<dd>pbx.fortyeight.co / 54.169.122.90</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Protocol</dt>
				<dd>SIP</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Port</dt>
				<dd>5060</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Username</dt>
				<dd>{{ phone.defaultuser }}</dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Secret</dt>
				<dd>{{ phone.secret }}</dd>
			</dl>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>