{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | Edit Phone Buddies{% endblock %}
{% block headertitle %}Edit Phone Buddies{% endblock headertitle %}
{% block container %}
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<form class="form-horizontal" role="form" action="{{ path('ui_phone_employees', {'hash': phone.hash}) }}" method="POST">
			<div class="form-group">
				<label for="employees" class="col-sm-2 control-label">Buddies</label>
				<div class="col-sm-10">
					<select class="form-control" id="employees" name="employees[]" multiple>
						{% for employee in employees %}
						<option value="{{ employee.id }}" {% if employee in phone.employees %}selected="selected"{% endif %}>{{ employee.name }} ({{ employee.extension }})</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-danger btn-block btn-lg">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock container %}
