<form action="{{ url }}" method="POST" accept-charset="utf-8">
	{% for key, value in conf %}
	<input type="hidden" value="{{ value }}" name="{{ key }}">
	{% endfor %}
	<p><input type="submit" value="Continue &rarr;"></p>
</form>