{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | Renew your subscription{% endblock %}
{% block container %}
<div class="page-header">
	<h1>Renewal of your subscription "{{ subscription.name }}"</h1>
</div>
<a href="{{ path('ui_subscription_credit', {'hash': subscription.hash, 'period': 'month'}) }}">Add a month</a>
<a href="{{ path('ui_subscription_credit', {'hash': subscription.hash, 'period': 'year'}) }}">Add a year</a>
{% endblock container %}