{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | Edit your subscription{% endblock %}
{% block headertitle %}Edit Line {{ subscription.name }}{% endblock headertitle %}
{% block container %}
<div class="row form-new">
	<div class="col-md-offset-3 col-md-6">
		<form class="form-horizontal" role="form" action="{{ path('ui_subscription_settings', {'hash': subscription.hash}) }}" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="prefix" class="col-sm-2 control-label">Prefix</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="prefix" name="prefix" value="{{ subscription.prefix }}">
				</div>
			</div>
			<div class="form-group">
				<label for="announcement" class="col-sm-2 control-label">Voicemail</label>
				<div class="col-sm-10">
					<input type="file" class="form-control" id="announcement" name="announcement">
				</div>
			</div>
			<div class="form-group">
				<label for="record" class="col-sm-2 control-label">Record VM</label>
				<div class="col-sm-10">
					<select type="text" class="form-control" id="record" name="record" required>
						<option value="1" {% if subscription.recordvm %}selected="selected"{% endif %}>Yes</option>
						<option value="0" {% if not subscription.recordvm %}selected="selected"{% endif %}>No</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-danger btn-block btn-lg">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock container %}
