{% extends "VoIPUIBasicBundle::layout_parameters.html.twig" %}
{% block title %}48 | Edit Company{% endblock %}
{% block headertitle %}Edit Company{% endblock headertitle %}
{% block container %}
{{ parent() }}
<div class="row form-new">
	<div class="col-md-offset-3 col-md-6">
		<form class="form-horizontal" role="form" action="{{ path('ui_company_parameters_info') }}" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" value="{{ company.name }}" required>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="email" name="email" value="{{ company.voicemail ? company.voicemail.email }}" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default btn-block">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock container %}