{% extends "VoIPUIBasicBundle::layout.html.twig" %}
{% block title %}48 | New phone{% endblock %}
{% block container %}
<div class="page-header">
	<h1 class="title-back"><a class="glyphicon glyphicon-chevron-left pull-left" href="{{ path('ui_company') }}"></a> New Phone</h1>
</div>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<form class="form-horizontal" role="form" action="{{ path('ui_company_newphone', {'hash': company.hash}) }}" method="POST">
			<div class="form-group">
				<label for="phonename" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="phonename" name="phonename" placeholder="Mark's desk" required>
				</div>
			</div>
			<div class="form-group">
				<label for="type" class="col-sm-2 control-label">Type</label>
				<div class="col-sm-10">
					<select class="form-control" id="type" name="type">
						<option value="ciscophone">Cisco phone</option>
						<option value="softphone">Softphone</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-danger btn-block btn-lg">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock container %}